.quote {
    
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
    margin-top: 70px;

    
  }
.myName{

font-family: 'Delius Swash Caps', cursive;

margin-left: auto; 
margin-left: auto; 
margin-right: 0;




}
.myQuote{
  border-bottom: dashed;
  border-color: #66cc99;
  font-family: 'Delius Swash Caps', cursive;
}
.test{
  width: 100%;
  
 
  display: flex;
 flex-direction:row-reverse;
 
}
.test2{
 

  
 
}
.ratings{
  
  }
.ratings2{

}
.stars{

 
 
}
.rate{

 
}